Bolnica_aplikacija/bin/Debug/Bolnica_aplikacija.exe
Bolnica_aplikacija/bin/Debug/Bolnica_aplikacija.exe.config
Bolnica_aplikacija/bin/Debug/Bolnica_aplikacija.pdb
Bolnica_aplikacija/.vs
Bolnica_aplikacija/obj/Debug/Bolnica_aplikacija.csproj.FileListAbsolute.txt
Bolnica_aplikacija/obj/Debug/Bolnica_aplikacija.csproj.GenerateResource.cache
Bolnica_aplikacija/obj/Debug/Bolnica_aplikacija.csprojAssemblyReference.cache
Bolnica_aplikacija/obj/Debug/Bolnica_aplikacija.exe
Bolnica_aplikacija/obj/Debug/Bolnica_aplikacija.pdb
Bolnica_aplikacija/obj/Debug/Bolnica_aplikacija_MarkupCompile.cache
Bolnica_aplikacija/obj/Debug/Bolnica_aplikacija_MarkupCompile.lref