Bolnica_aplikacija/bin/Debug/Bolnica_aplikacija.exe
Bolnica_aplikacija/bin/Debug/Bolnica_aplikacija.exe.config
Bolnica_aplikacija/bin/Debug/Bolnica_aplikacija.pdb
Bolnica_aplikacija/obj
Bolnica_aplikacija/.vs